<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Store Page</title>
</head>
<body>
<header th:fragment="header">
    <h1>Munsif's Online Shop 2024</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home Page</a></li>
            <li><a th:href="@{/product}">Product</a></li>
            <li><a th:href="@{/shopping}">Shopping</a></li>
            <li><a th:href="@{/checkout}">Checkout</a></li>
        </ul>
    </nav>
</header>
<main>
    <!-- Main content specific to each page -->
</main>
<footer th:fragment="footer">
    <p>Copyright © Munsif Siddiqui | 991680159</p>
</footer>
</body>
</html>
